/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}
